<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Welcome to Enigma 2x2</title>
  </head>
  <body>
    <div class="main">
      <header>
        <h1>
          <span class="rock">Welcome</span>
          <span class="paper">to</span>
          <span class="scissors">Enigma 2x2</span>
        </h1>
      </header>

      <div class="play">
        <h1>
          <br />
          <!-- <a href="/computer">computer</a> <br />| <br /> -->
          <a href="/multiplayer">Play Game</a> <br />| <br /> 
          <a href="/instructions">How to Play?</a>
        </h1>
      </div>
    </div>
  </body>
</html>
